#!/usr/bin/make -f

include /usr/share/dpkg/architecture.mk
include /usr/share/dpkg/buildtools.mk

export PKG_CONFIG

MAKE_ARGS = \
	CROSS_COMPILE= \
	LIBDIR=/usr/lib/$(DEB_HOST_MULTIARCH) \
	CFG_TEE_FS_PARENT_PATH=/var/lib/optee-client/data/tee

%:
	dh $@ --exclude=.a

override_dh_auto_build:
	dh_auto_build -- $(MAKE_ARGS)

override_dh_auto_install:
	dh_auto_install -- $(MAKE_ARGS)

override_dh_auto_clean:
	dh_auto_clean
	rm -rf out
