#!/usr/bin/make -f

OPTEE_OUT := $(CURDIR)/out/arm-plat-k3
OPTEE_DEVKIT := $(OPTEE_OUT)/export-ta_arm64

OPTEE_MAKE_ARGS := \
	PLATFORM=k3-am62x \
	CFG_ARM64_core=y \
	CFG_USER_TA_TARGETS=ta_arm64 \
	CROSS_COMPILE64= \
	CROSS_COMPILE_ta_arm64= \
	NOWERROR=1 \
	O=$(OPTEE_OUT)

%:
	dh $@

override_dh_auto_build:
	$(MAKE) $(OPTEE_MAKE_ARGS) ta_dev_kit

override_dh_auto_test:

override_dh_auto_install:
	install -d debian/tmp/usr/lib/optee-os-dev/arm-plat-k3
	cp -a $(OPTEE_DEVKIT)/. \
		debian/tmp/usr/lib/optee-os-dev/arm-plat-k3/

override_dh_auto_clean:
	rm -rf out
